* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
}
header{
    display: flex;
    position: fixed;
    top: 0%;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 15px;
    background-color: white;
}
header>.icon1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}
header>.icon1>.material-icons{
    font-size: 30px;
}
header>.icon1>.yticon{
    width: 100px;
    height: 25px; 
}
header>.search{
    display: flex;
    flex-direction: row;
    left: 100px;
    position: relative;
    gap: 30px;
}
header>.search>form>input{
    width: 600px;
    height: 40px;
    border: 1px solid darkgrey;
    border-radius: 18px;
    padding: 15px;
}
header>.search>form>button{
    position: absolute;
    height: 40px;
    width: 90px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    left: 510px;
    border: 1px solid darkgrey;
}
#mic{
    margin-top: 4px;
    margin-left: 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(242, 240, 240);
    text-align: center;
    align-items: center;
    font-size: 32px;
}
header>.icon2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
    margin-top:10px;
}
header>.icon2>#search{
    display: none;
}
header>.icon2>.material-icons{
    font-size: 30px;
}
header>.icon2>.mailicon{
    background-color: green;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.leftside{
    height: 100%;
    width: 250px;
    min-width: 250px;
    position: fixed;
    background-color: white;
    left: 0;
    top: 60px;
    padding-right: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}
.leftside>.navbar{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
}
.leftside>.navbar>.navbar-link.home{
    background-color: #efefef;
}
.leftside>.navbar>.navbar-link{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 12px 25px;
}
.leftside>.navbar>.navbar-link>img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.leftside>.navbar>.navbar-link.LLC{
    color: rgb(144, 144, 144);
}
.leftside>.navbar>.navbar-link:hover{
    background-color: rgb(228, 228, 228);
}
.leftside>.navbar>.navbar-link{
    transition-property: all;
    transition-duration: 0.50s;
    cursor: pointer;
}
.leftside>.navbar1{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
}
.leftside>.navbar1>.navbar1-link{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 12px 25px;
}
.leftside>.navbar1>.navbar1-link>img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.leftside>.navbar1>.navbar1-link.LLC{
    color: rgb(144, 144, 144);
}
.leftside>.navbar1>.navbar1-link:hover{
    background-color: rgb(228, 228, 228);
}
.leftside>.navbar1>.navbar1-link{
    transition-property: all;
    transition-duration: 0.50s;
    cursor: pointer;
}
.navbarm{
    position: fixed;
    background-color: white;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 0 20px;
    height: 68px;
    width: calc(100% - 250px);
    top: 60px;
    left: 250px;
    display: flex;
    align-items: center;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
}
.navbarm>.links-all.active{
    background-color: rgb(0, 21, 0);
    color: white;
}
.navbarm>button{
    color: black;   
    font-family: "Roboto","Arial",sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 5px 15px;
    border-radius:15px;
    border-style: none;
    text-overflow: clip;
    white-space: nowrap;
}
.navbarm>button:hover{
    background-color: rgb(228, 228, 228);
}
.navbarm>button{
    transition-property: all;
    transition-duration: 0.50s; 
    cursor: pointer;
 }
.videosection{
    margin-left: 250px;
    margin-top: 140px;
    display: grid;
    grid-template-columns: repeat(4, 22%);
    grid-gap: 20px 40px;
}
.videosection>.videocontainer{
    display: flex;
    flex-direction: column;
}
.videosection>.videocontainer>.title>.titleimage{
    width: 100%;
}
.videosection>.videocontainer>.videobottom{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.videosection>.videocontainer>.videobottom>.videodetail{
    width: 220px;
    margin-top: 10px;
    font-size: 14px;
    font-family:"Roboto","Arial",sans-serif;  
}
a {
    text-decoration: none;
    color: black; 
}
.videosection>.videocontainer>.videobottom>.videodetail>.channelname{
    display: block;
    font-size: 14px;
    color: darkgray;
    font-family: "Roboto","Arial",sans-serif;
}
.videosection>.videocontainer>.videobottom>.videodetail>.videoview{
    font-size: 14px;
    color: darkgray;
    font-family: "Roboto","Arial",sans-serif;
}
.videosection>.videocontainer>.videobottom>.videoimg>a>.channelicon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 10px;
}
@media(max-width:1500px){
    header{
        display: flex;
        position: fixed;
        top: 0%;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        width: 100%;
        padding: 15px;
        background-color: white;
    }
}
@media(max-width:1300px){
    header>.search>form>input{
        width: 500px;
        height: 40px;
        border: 1px solid darkgrey;
        border-radius: 18px;
        padding: 15px;
    }
    header>.search>form>button{
        position: absolute;
        height: 40px;
        width: 90px;
        border-top-right-radius: 18px;
        border-bottom-right-radius: 18px;
        left: 410px;
        border: 1px solid darkgrey;
    }
    .videosection{
        margin-left: 250px;
        margin-top: 140px;
        display: grid;
        grid-template-columns: repeat(3, 30%);
        grid-gap: 20px 40px;
    }
}
@media(max-width:1200px){
    .leftside{
        height: 100%;
        width: 150px;
        min-width: 150px;
        position: fixed;
        background-color: white;
        left: 0;
        top: 60px;
        padding-right: 10px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .leftside>.navbar>.navbar-link{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    hr{
        display: none;
    }
    .leftside>.navbar1{
        display: none;
    }
    .videosection{
        margin-left: 150px;
        margin-top: 140px;
        display: grid;
        grid-template-columns: repeat(3, 30%);
        grid-gap: 20px 40px;
    }
    .navbarm{
        position: fixed;
        background-color: white;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 0 20px;
        height: 68px;
        width: calc(100% - 150px);
        top: 60px;
        left: 150px;
        display: flex;
        align-items: center;
        gap: 20px;
        overflow-x: auto;
        overflow-y: hidden;
    }
}
    
@media(max-width:1100px){
    header>.search>form>input{
        width: 350px;
        height: 40px;
        border: 1px solid darkgrey;
        border-radius: 18px;
        padding: 15px;
    }
    header>.search>form>button{
        position: absolute;
        height: 40px;
        width: 90px;
        border-top-right-radius: 18px;
        border-bottom-right-radius: 18px;
        left: 270px;
        border: 1px solid darkgrey;
    }
}
@media(max-width:950px){
    header>.search>form>input{
        width: 250px;
        height: 40px;
        border: 1px solid darkgrey;
        border-radius: 18px;
        padding: 15px;
    }
    header>.search>form>button{
        position: absolute;
        height: 40px;
        width: 90px;
        border-top-right-radius: 18px;
        border-bottom-right-radius: 18px;
        left: 170px;
        border: 1px solid darkgrey;
    }
    .leftside{
        display: none;
    }
    .videosection{
        margin-left: 20px;
        margin-top: 140px;
        display: grid;
        grid-template-columns: repeat(3, 30%);
        grid-gap: 20px 40px;
    }
    .navbarm{
        position: fixed;
        background-color: white;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 0 20px;
        height: 68px;
        width: calc(100% - 20px);
        top: 60px;
        left: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
        overflow-x: auto;
        overflow-y: hidden;
    }
}
@media(max-width:830px){    
    header>.search>form>input{
        display: none;
    }
    header>.search>form>button{
        display: none;
    }
    #mic{
        display: none;
    }
    header>.icon2>#search{
        font-size: 30px;
    }
    .videosection{
        margin-left: 20px;
        margin-top: 140px;
        display: grid;
        grid-template-columns: repeat(2, 48%);
        grid-gap: 20px 40px;
    }
}
@media(max-width:560px){ 
    .videosection{
        margin-left: 20px;
        margin-top: 140px;
        display: grid;
        grid-template-columns: repeat(1, 90%);
        grid-gap: 20px 40px;
    }   
}



